{% extends "base.html" %}
{% load django_markdown %}

{% block title %}
{{ header }}
{% endblock %}

{% block header %}
{{ header }}
{% endblock %}

{% block all_articles_list %}
{% if object_list %}
{% for object in object_list %}
<div class="row">
    <div class="col-md-4">
        <h2>{{ object.title }}</h2>
        <p class="meta">Date:{{ object.pub_date }}</p>
        <p class="dimmed">Category: {{ object.category.title }}</p>
        <p class="dimmed">Author: {{ object.author.firstname }} {{ object.author.lastname }}</p>
        <p>{{ object.grab_body_part|markdown }}</p>
        <p><a class="btn btn-default" href="{% url "blog:detail" year=object.pub_date|date:"Y" month=object.pub_date|date:"b" day=object.pub_date|date:"d" slug=object.slug %}" role="button">Read Article »</a></p>
    </div>
</div>
{% endfor %}
{% else %}
<p>Sorry, currentlly no entries are available.</p>
{% endif %}

<br />
<a href="{% url "blog:index" %}">« Home Page</a>
{% endblock %}
