{% extends "base.html" %}
{% load django_markdown %}

{% block title %}
List of published blogs
{% endblock %}

{% block header %}
List of blogs
{% endblock %}

{% block blog_entries %}
{% for object in object_list %}
<div class="row">
    <div class="col-md-4">
        <h2>{{ object.title }}</h2>
        <p class="meta">Date:{{ object.pub_date }}</p>
        <p class="dimmed">Category: {{ object.category.title }}</p>
        <p>{{ object.grab_body_part }}...</p>
        <p><a class="btn btn-default" href="{% comment %}{% url "blog:detail" %}{% endcomment %}" role="button">Read Article »</a></p>
    </div>
</div>
{% endfor %}
{% endblock %}
