{% extends "base.html" %}
{% load django_markdown %}

{% block title %}
{{ header }}
{% endblock %}

{% block header %}
{{ header }}
{% endblock %}

{% block blog_year_month_entries %}
{% if object_list %}
{% for object in object_list %}
<div class="row">
    <div class="col-md-4">
        <h2>{{ object.title }}</h2>
        <p class="meta">Date:{{ object.pub_date }}</p>
        <p class="dimmed">Category: {{ object.category.title }}</p>
        <p>{{ object.grab_body_part|markdown }}...</p>
        <br />
        <p>{{ object.pub_date|date:"Y b d" }}</p>
        <p>{{ object.pub_date|date:"Y" }}|{{ object.pub_date|date:"b" }}|{{ object.pub_date|date:"d" }}/{{ object.slug }}</p>
        <p><a class="btn btn-default" href="{% url "blog:detail" year=object.pub_date|date:"Y" month=object.pub_date|date:"b" day=object.pub_date|date:"d" slug=object.slug %}" role="button">Read Article »</a></p>
    </div>
</div>
{% endfor %}
{% else %}
<p>Sorry, no entries for year {{ year }} and month {{ month }}.</p>
{% endif %}
{% endblock %}
