{% extends "base.html" %}
{% load django_markdown %}

{% block title %}
List of published blogs
{% endblock %}

{% block header %}
List of published blogs
{% endblock %}

{% block blog_entries %}
{% for object in object_list %}
<div class="row">
    <div class="col-md-4">
        <h2>{{ object.title }}</h2>
        <p class="meta">Date:{{ object.pub_date }}</p>
        <p class="dimmed">Category: {{ object.category.title }}</p>
        <p class="dimmed">Author: {{ object.author.firstname }} {{ object.author.lastname }}</p>
        <p>{{ object.grab_body_part|markdown }}</p>
        {% comment %}<p>{{ object.pub_date|date:"Y b d" }}</p>
        <p>{{ object.pub_date|date:"Y" }}|{{ object.pub_date|date:"b" }}|{{ object.pub_date|date:"d" }}/{{ object.slug }}</p>{% endcomment %}
        <p><a class="btn btn-default" href="{% url "blog:detail" year=object.pub_date|date:"Y" month=object.pub_date|date:"b" day=object.pub_date|date:"d" slug=object.slug %}" role="button">Read Article »</a></p>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block tags_list %}
{% for tag in tags %}
<p><a href="#">{{ tag.name }}</a></p>
{% endfor %}
{% endblock %}

{% block by_year %}
<p><a href="{% url "blog:years_list_links" %}">List by Years »</a></p>
{% endblock %}
